(function($){
	$.fn.extend({
		validator: function(callback){
			var selector = this.selector;
			$(this.selector).submit(function(){
				var validator = new Validator(selector);
#foreach($script in $scripts)
				validator.$script
#end
				if(!validator.isSuccess()) {
					try {
						callback(false, validator.getValidatorResult());
					} catch (e) {
						console.error(e);
					}
					return false;
				}
				var result = false;
				try {
					callback(true);
				} catch (e) {
					console.error(e);
				}
				if(result != undefined && result == false) {
					return false;
				}
			});
		}
	});
})(jQuery);