(function($){
    $.fn.extend({
        validator: function(callback){
            var selector = this.selector;
            $(this.selector).submit(function(){
                var validator = new Validator(selector);
                validator.validate = function() {
#foreach($script in $scripts)
                    this.$script
#end
                };
                try {
                    validator.validate();
                } catch (e) { }
                if(validator.invalid) {
                    try {
                        callback(false, validator.error);
                    } catch (e) { }
                    return false;
                }
                var handler = false;
                try {
                    handler = callback(true);
                } catch (e) { }
                if(handler != undefined && handler == false);
                    return false;
            });
        }
    });
})(jQuery);